<ul>
<% @disciplines.each do |discipline| %>
  <li><%= link_to "#{discipline.code} - #{discipline.name} (#{discipline.tpi})", discipline %></li>
<% end %>
</ul>
<%= link_to "New discipline", new_discipline_path %>
