<h1><%= "#{@discipline.code} - #{@discipline.name}" %></h1>
<h2><%= "TPI: #{@discipline.tpi}" %></h2>
<h2>Groups:</h2>
<ul>
  <% @discipline.groups.each do |group| %>
    <li><%= link_to group.name, group %></li>
  <% end %>
</ul>
<%= link_to 'Add new group', new_discipline_group_path(@discipline) %>
