<ul class="cool_list centered">
<% @groups.sort_by { |g| g.discipline.name}.each do |group| %>
  <%= link_to group do -%>
    <li><span class="name"><%= group.discipline.name %></span><span class="group"><%= group.name %></span></li>
  <% end %>
<% end %>
</ul>
<%= link_to "New group", new_group_path %>
