<table class="timetable centered">
  <thead>
    <tr>
      <td />
        <% %w{Segunda Terça Quarta Quinta Sexta Sábado}.each do |day| %>
          <%= content_tag :th, day.capitalize %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= yield %>
    </tbody>
  </table>
